<div class="main-div">
    <mat-card class="matCard" style="box-shadow: 1px 1px 7px 0px;">
        <form [formGroup]="loginForm">
            <div fxLayout="row" fxLayoutAlign="center center" style="font-size:24px; margin-bottom: 25px;">
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color:#fbbc05;">n</span>
                <span style="color: blue;">d</span>
                <span style="color : green">o</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">N</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">t</span>
                <span style="color : green">e</span>
                <span style="color: red;">s</span>
            </div>
            <div class="Title2">Welcome To Fundoo Login</div>
            <div>
                <mat-form-field appearance="outline" class="Log">
                    <mat-label>UserName</mat-label>
                    <input matInput placeholder="userName" formControlName="username"  required minlength="10" >
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="Log">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" required minlength="3">
                </mat-form-field>
            </div>
            <div class="button">
                <div>
                    <a href="http://localhost:4200/register">SignUp</a>
                </div>
                <div>
                    <a href="http://localhost:4200/forgotpassword">Forgot Password</a>
                </div>
                <div>
                    <button mat-raised-button (click)="onSubmit()">Login</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>