<div class="main">
    <mat-card style=" width: 40em; border-radius: 13px;" *ngIf="!popup" (click)="onPopup()" class="mat-card"
        fxLayout="row">
        <input matInput class="searchBar" placeholder="take a note">
    </mat-card>

    <mat-card style=" width: 40em; border-radius: 13px;" *ngIf="popup" class="mat1-card" fxLayout="column">
        <div class="pinNotes">
            <textarea style="border: none; width: 93%;" matInput type="textbox" class="input" placeholder="Title"
                [(ngModel)]="note.title">
            </textarea>

            <button *ngIf="note.isPinned" mat-icon-button matTooltip="unpin" (click)="pinned('unpinned',note)"
                class="button">
                <img class="image" style="border: none; width: 93%;" src="/assets/icon/pinned.svg" height="50%"
                    id="imgRem">
            </button>
            <button *ngIf="!note.isPinned" mat-icon-button matTooltip="pin" (click)="pinned('pinned',note)"
                class="button">
                <img class="image" style="border: none; width: 93%; " src="/assets/icon/unpin.svg" height="50%"
                    id="imgRem">
            </button>
        </div>
        <textarea style="border: none; " matInput type="text" class="input" placeholder="take a note"
            [(ngModel)]="note.description"></textarea>

        <div class="icon" style="display:flex; justify-content: space-between; width: 100%;">
            <div class="iconlist">
                <app-iconlist [xyz]='note'></app-iconlist>
            </div>
            <div (click)="onSubmit() || popup=!popup"><button mat-button class=" close fun-close">close</button></div>
        </div>

    </mat-card>
</div>