<div style="flex-wrap: wrap;">
    <div class="getAllNotes" fxLayout="{{view}}" fxFlexOffset="15">
        <mat-card class="getNotesMat" [ngStyle]="{'background':note.color}" [ngClass]="{'qwerty':flag,'qwerty2':!flag}"
            *ngFor="let note of notes">

            <div (click)="openDialog()">
                <div class="tile">
                    {{note.title}}
                </div>

                <div class="tile">
                    {{note.description}}
                </div>
                <div class="icon">
                    <div class="iconlist">
                        <app-iconlist></app-iconlist>
                    </div>
                </div>
            </div>


        </mat-card>

    </div>
</div>